.menuItem {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px 3px;
  margin: 0 auto;
}

.Notifications {
  width: 400px;
  padding: 10px 20px;
  border: 1px dashed #DF354B;
  position: relative;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Notifications ul {
  padding-left: 35px;
}

.Notifications ul li[data-priority='default'] {
  color: blue;
}

.Notifications ul li[data-priority='urgent'] {
  color: red;
}