* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #fff;
}

.App {
  position: relative;
}

.App-notif {
  position: absolute;
  right: 20px;
}

.App-body {
  width: 95%;
  margin: 0 auto;
  border-top: 3px solid #DF354B;
  border-bottom: 3px solid #DF354B;
  min-height: 50vh;
  padding: 40px 15px;
}