.Notifications {
  border: 1px dashed #DF354B;
  padding: 20px 10px;
  position: relative;
}

ul {
  padding-left: 35px;
}

ul li[data-priority='default'] {
  color: blue;
}

ul li[data-priority='urgent'] {
  color: red;
}